@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-dark-megenta: hsl(300, 43%, 22%);
  --clr-soft-pink: hsl(333, 80%, 67%);
  --clr-dark-gray-megenta: hsl(303, 10%, 53%);
  --clr-light-gray-megenta: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);

  --font-size: 15px;
  --font-family: "League Spartan", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --ff-league: "League Spartan", sans-serif;
}

body {
  font-size: var(--font-size);
  background-color: var(--clr-white);
  font-weight: var(--fw-400);
}

/*****************************
 *  Utility Classes
 *****************************/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex-column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 80rem;
  padding-inline: var(--padding, 1rem);
  margin-inline: auto;
}

.clr-dark-megenta {
  color: var(--clr-dark-megenta);
}

.clr-soft-pink {
  color: var(--clr-soft-pink);
}

.clr-dark-gray-megenta {
  color: var(--clr-dark-gray-megenta);
}

.clr-light-gray-megenta {
  color: var(--clr-light-gray-megenta);
}

.bg-dark-megenta {
  background-color: var(--clr-dark-megenta);
}

.bg-dark-gray-megenta {
  background-color: var(--clr-light-gray-megenta);
}

.clr-white {
  color: var(--clr-white);
}

.fs-500 {
  font-size: var(--font-size, 1rem);
}

.fs-600 {
  font-size: 2rem;
}

.fs-700 {
  font-size: 3rem;
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.ff-league {
  font-family: var(--ff-league);
}

.flow > *:where(:not(:first-child)) {
  margin-bottom: var(--gap, 1rem);
}
