@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /************* Colors *************/
  --color-primary-light-cyan: hsl(193, 38%, 86%);
  --color-primary-neon-green: hsl(150, 100%, 66%);
  --color-primary-neon-green-shadow: hsla(150, 100%, 66%, 0.388);

  --color-neutral-blue: hsl(217, 19%, 38%);
  --color-neutral-dark-grayish-blue: hsl(217, 19%, 24%);
  --color-neutral-dark-blue: hsl(218, 23%, 16%);
  /************* Colors *************/

  /************* Typography *************/
  --font-size-quote: 28px;
  --font-weight: 800;
  --font-family: "Manrope", sans-serif;
  /************* Typography *************/

  /* Device Dimensions 
  Mobile: 375px
  Desktop: 1440px 
  */
}

body {
  background-color: var(--color-neutral-dark-blue);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: var(--color-primary-neon-green);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.adviceWrapper {
  width: 90%;
  height: max-content;
  background-color: var(--color-neutral-dark-grayish-blue);
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
}

.adviceWrapper__heading {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-primary-neon-green);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.adviceWrapper__advice {
  font-size: var(--font-size-quote);
  font-weight: var(--font-weight);
  color: var(--color-primary-light-cyan);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.adviceWrapper__dividerImg {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.dividerDesktop {
  display: none;
}

.dividerMobile {
  display: block;
}

.adviceWrapper__dice {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-neon-green);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.adviceWrapper__dice:hover {
  box-shadow: 5px 5px 10px -2px var(--color-primary-neon-green-shadow),
    -5px -5px 10px -2px var(--color-primary-neon-green-shadow),
    5px -5px 10px -2px var(--color-primary-neon-green-shadow),
    -5px 5px 10px -2px var(--color-primary-neon-green-shadow);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 1.5rem;
  color: var(--color-primary-light-cyan);

}

@media only screen and (min-width: 400px) {
  .adviceWrapper {
    width: 40%;
  }

  .dividerDesktop {
    display: block;
  }

  .dividerMobile {
    display: none;
  }
}
